{% extends "layout.twig" %}

{% block content %}
<div id="help">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <p id="text_aide">Besoin d'aide ? N'hésitez pas à consulter le manuel de l'utilisateur téléchargeable ci-dessous !</p>
        <p id="icon_pdf"><i class="far fa-3x fa-file-pdf"></i></p>
        <p>oriTrail_Manuel_Utilisateur.pdf</p>
        <a href="https://serveur.oritrail.fr/oriTrail/oriTrail_Manuel_Utilisateur.pdf" id="bouton_manuel" class="btn btn-lg active btn-outline-danger" role="button">Télécharger</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
