{% extends "layout.twig" %}

{% block home %}
<div id="home">
  <div class="jumbotron text-center">
    <h1>oriTrail</h1>
    <p class="lead">Le gestionnaire de courses d'orientation qui sort des sentiers battus !</p>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body row">
              <div class="col-2 align-self-center logo-mobile">
                <div class="fa-2x"><i class="fab fa-android"></i></div>
              </div>
              <div class="col">
                <h5 class="card-title">App Android</h5>
                <a href="https://serveur.oritrail.fr/oriTrail/oriTrail.apk" class="btn btn-lg active btn-outline-success" role="button">Télécharger</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body row">
              <div class="col-2 align-self-center logo-mobile">
                <div class="fa-2x"><i class="fab fa-apple"></i></div>
              </div>
              <div class="col">
                <h5 class="card-title">App iOS</h5>
                <a href="#" class="btn btn-lg active btn-outline-secondary" role="button">Télécharger</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
