{% extends "layout.twig" %}

{% block content %}
	<h1>S'inscrire</h1>

	<form action="{{ path_for('signin') }}" method="post">
		<div class="form-group">
			<label for="nom">Votre nom :</label>
			<input type="text" name="nom" id="nom" class="form-control">
		</div>
		<div class="form-group">
			<label for="prenom">Votre prenom :</label>
			<input type="text" name="prenom" id="prenom" class="form-control">
		</div>
		<div class="form-group">
			<label for="email">Votre email :</label>
			<input type="text" name="email" id="email" class="form-control">
		</div>
		<div class="form-group">
			<input type="submit" value="Envoyer" class="btn btn-primary">
		</div>
	</form>
{% endblock %}